<div class="navPoint brands">

    <div class="brands-container">
    
        <div class="title-box">
            <h2>Brands</h2>
        </div>
        <br>
        <% if(typeof brands != 'undefined'){ %>
            <% brands.forEach(brand =>{ %>
                <div class="brand">
                    <a href="/cars/<%=brand.brand_id %>" title="<%= brand.brand_slogan %>"><img class="<%= brand.brand_title%>" src="img/<%= brand.brand_image%>" alt="Logo"></a>            
                </div>
            <% })%>
        <% } %>
        <div class="brands all-brands">
            <a title="Show All Cars" href="/cars"><h1>All Brands</h1></a>
        </div>
    </div>
</div>