<div class="navPoint contact">
    <footer>
        <div class="crew">
            <h3>Location</h3>
            <ul>
                <li>	
                Denmark
                </li>
                <li>	
                944 Roskilde
                </li>
                <li>	
                Roskildevej 9
                </li>
            </ul>
        </div>

        <div class="crew">
            <h3>Contact</h3>
            <ul>
                <li>	
                Phone: +45 12 34 56 78
                </li>
                <li>	
                E-mail: Placeholder@cars.com
                </li>
                <li>	
                On Social Media:
                </li>
            </ul>
        </div>
    </footer>
</div>