<ul class="menuBar">
    <li class="active">
        <p>Home</p>
    </li>
    <li>
        <p>Brands</p>
    </li>
    <li>
        <p>About</p>
    </li>
    <li>
        <p>Contact</p>
    </li>
    <%# <li class="car-selection">
        <a title="Show All Cars" href="/cars">
            <p>Car Selection</p>
        </a>
    </li> %>
</ul>