@import "/css/style.css";
body {
	background-color: gray;
}
.main {
	display: grid;
	grid-template-columns: 15vw 1fr;
	grid-gap: 0 2em;
}
/* Nav */
.menuBar{
	position: fixed;
	top: 35%;
	left: 2%;
	height: 25px;
}

.menuBar li{
	position: relative;
	box-sizing: border-box;
	list-style: none;
	padding: 1.4em 0;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 200;
	color: #fff;
	cursor: pointer;
}

.menuBar li::after{
	position: absolute;
	top: 19%;
	left: -50%;
	content: "";
	display: block;
	width: 5px;
	height: 40px;
	background-color: rgba(255, 255, 255, 0.3);
	pointer-events: all;
}

.menuBar li a{
	position: absolute;
	top: 44%;
	left: 1em;
	color: rgba(255, 255, 255, 0.3);
}
.menuBar li a:hover{
	color: rgba(255, 255, 255, 1);
}
.menuBar .active a{
	position: absolute;
	top: 44%;
	left: 1em;
	display: block;
	color: rgba(255, 255, 255, 1);
}
.nav-link {
	text-decoration: none;
}
/* Nav slut */

.cars {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.car {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 25vw;
	margin-bottom: 5em;
	-webkit-box-shadow: -5px 5px 10px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: -5px 5px 10px -5px rgba(0,0,0,0.75);
	box-shadow: -5px 5px 10px -5px rgba(0,0,0,0.75);
	background-color: white;
}
.car__wrapper {
	padding: 0 1em 1em 1em;
}
.car__image {
	width: 100%;
	height: 45%;
	margin-bottom: 1em;
}
.car__image img {
	object-fit: cover;
    width:  100%;
    height: 100%;
}
.car__details {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.car__details h2 {
	margin: 0;
}
.car__more-details {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1em;
}
.car__description {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
.back {
	position: fixed;
	bottom: 1em;
	left: 1em;
	border: none;
}
.back a {
	text-decoration: none;
	color: black;
}
.fa-arrow-alt-circle-left {
	font-size: 2em;
}
