*{
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

::-webkit-scrollbar { 
  display: none; 
}

#wrapper{
  max-width: 100vw;
  margin: 0 auto;
  box-sizing: border-box;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  font-family: 'Fira Sans', sans-serif;
}

header h1{
  letter-spacing: 10px;
  color: #fff;
}

footer{
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  color: #fff;
  align-items: center;
  align-self: flex-end;
  height: 25vh;
  font-size: 0.9em;
  background-color: rgba(255, 255, 255, 0.5);
  font-family: 'Fira Sans', sans-serif;
}

footer h3{
  padding: 1em 0;
}

footer ul li{
  list-style: none;
  font-weight: 300;
  padding: 0.2em;
}

.crew{
  display: flex;
  flex-direction: column;
}

.navPoint{
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #6D9DC5;
}

.navPoint:nth-child(2){
  background-color: #3066BE;
}

.navPoint:nth-child(3){
  background-color: #80DED9;
}

.navPoint:last-child{
  height: 100vh;
  width: 100vw;
  background-color: #119DA4;
}

.menuBar{
  position: fixed;
  top: 35%;
  left: 2%;
  height: 25px;
}

.menuBar li{
  position: relative;
  box-sizing: border-box;
  list-style: none;
  padding: 1em 0;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 200;
  color: #fff;
}

.menuBar li::after{
  position: absolute;
  top: 19%;
  left: -50%;
  content: "";
  display: block;
  width: 5px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.3);
  pointer-events: all;
}

.menuBar li p{
  position: absolute;
  top: 35%;
  left: 1em;
  color: rgba(255, 255, 255, 0.3);
}

.menuBar li p:hover{
  visibility: visible;
}

.menuBar .active p{
  position: absolute;
  top: 35%;
  left: 1em;
  display: block;
  color: rgba(255, 255, 255, 1);
}

.menuBar .active::after{
  position: absolute;
  top: 19%;
  left: -50%;
  content: "";
  display: block;
  width: 5px;
  height: 30px;
  background-color: rgba(255, 255, 255, 1);
}