/* Generel Styling Start */
*{
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Fira Sans', sans-serif;
}

::-webkit-scrollbar { 
  display: none; 
}
/* Generel Styling Slut */

/* Wrapper Start */
#wrapper{
  max-width: 100vw;
  margin: 0 auto;
  box-sizing: border-box;
}
/* Wrapper Slut */

/* Header Start */
header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

header h1{
  letter-spacing: 10px;
  color: #fff;
}
/* Header Slut */

/* Footer Start */
footer{
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  color: #fff;
  align-items: center;
  align-self: flex-end;
  height: 25vh;
  font-size: 0.9em;
  background-color: #0b0b0b;
}

footer h3{
  padding: 1em 0;
}

footer ul li{
  list-style: none;
  font-weight: 300;
  padding: 0.2em;
}

.crew{
  display: flex;
  flex-direction: column;
}
/* Footer Start */

/* Nav Start */
.navPoint{
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  background-color: #686963;
}
/* Nav Slut */

/* Styling af sektioner Start */
.carBrand__home--title{
  color:white;
  font-size: 5em;
  position: absolute;
  right:50%;
  bottom:80%;
  pointer-events: none;
}

.carBrand__home--content{
  position: absolute;
  color:white;
  font-size: 24px;
  text-align: center;
  bottom:30vh;
  left:20%;
  right:20%;
}

p{
  font-weight: 200;
}

.carBrand__home--img{
  width:100%;
  /* max-height:100vh; */
 /* border-bottom: 3px solid black; */
}

.brands{
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #3b3b3b;
}

.about{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 50px;
  background-color: #2b2b2b;
}

.contact{
  background-color: #1b1b1b;
}

.about{
  display: block;
}

.about__title{
  text-align: center;
  padding-top:25px;
}

#about__container{
  margin: 2% 10%;
  font-size:0.9em;
  line-height: 20px;
  font-family: 'Fira Sans', sans-serif;
  color:white;
  letter-spacing: 0.5px;
}

.about__logo--img{
  height:30vh;
  /* position: absolute; */
  display: block;
  margin: 0 auto;
}
/* Styling af sektioner Slut */

/* Menubar Start */
.menuBar{
  position: fixed;
  top: 35%;
  left: 2%;
  height: 25px;
}

.menuBar li{
  position: relative;
  box-sizing: border-box;
  list-style: none;
  padding: 1.4em 0;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 200;
  color: #fff;
  cursor: pointer;
}

.menuBar li::after{
  position: absolute;
  top: 19%;
  left: -50%;
  content: "";
  display: block;
  width: 5px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  pointer-events: all;
}

.menuBar li p{
  position: absolute;
  top: 44%;
  left: 1em;
  color: rgba(255, 255, 255, 0.3);
}

.menuBar .car-selection p{
  top: 25%;
}

.menuBar li p:hover{
  color: rgba(255, 255, 255, 1);
}

.menuBar .active p{
  position: absolute;
  top: 44%;
  left: 1em;
  display: block;
  color: rgba(255, 255, 255, 1);
}

.menuBar .active::after{
  position: absolute;
  top: 19%;
  left: -50%;
  content: "";
  display: block;
  width: 5px;
  height: 40px;
  background-color: rgba(255, 255, 255, 1);
}
/* Menubar Slut */

/* Kontaktform Start */
.contact{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.forms
{
  display: flex;
	justify-content: center;
	color: #000;
}

.contactInfo{
  padding-top: 3em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  font-family: 'fira sans';
  width: 37%;
  align-items: center;
  line-height: 1.4em;
}

.contactInfo h2{
  font-weight: 300;
  padding: 2em;
  font-size: 3em;
}

.contactInfo p{
  font-size: 0.9em;
  font-weight: 300;
}

form{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form div:nth-child(1){
  display: flex;
  flex-direction: column;
}

.sendbtn{
  margin-top: 3em;
}


input, textarea
{
  width: 25em;
  padding: 10px;
	border: solid 1px rgba(0,0,0,0.2);
	font-size: 0.9em;
	color: black;
  box-sizing: border-box;
}

textarea:focus, input:focus
{
	outline: none;
}

input
{
	height: 100%;
}

textarea
{
  font-family: 'fira sans';
  width: 25em;
	resize: none;
	height: 100%;
}
/* Kontaktform Start */

/* Styling af Brands Sektion Start */
.brands-container{
  display: grid;
  grid-gap: 15px 15px;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  align-items: center;
}

.brands h2{
  text-align: center; 
  font-size: 3em;
  color: #fff;
  font-weight: 300;
}

.brand img{
  height: auto;
  width: 200px;
  transition-duration: 0.4s;
}

.brand img:hover{
  transition-duration: 0.4s;
  transform: scale(1.2);
}

.brand .Porsche{
  width: 350px;
  height: auto;
}
/* Styling af Brands Sektion Slut */


/* loading screen start*/

/* #wrapper{
  display: none;
}

#loadingscreen{
  position: absolute;
  display: flex;
	justify-content: center;
	background-color: #1b1b1b;
	align-items: center;
	width: 100vw;
  height: 100vh;
  z-index: 100;
  transition: 1.2s ease-in-out;
}

.circle1{
	position: absolute;
	background-color: red;
	border-radius: 100%;
	height: 200px;
	width: 200px;
}

.circle1::after{
	content: "";
	width: 200px;
	height: 200px;
	background-color: #1b1b1b;
	position: absolute;
	border-radius: 100%;
	animation: after 1s infinite linear;
}

.circle2{
	background-color: white;
	border-radius: 100%;
	height: 160px;
	width: 160px;
	position: absolute;
}

.circle2::after{
	content: "";
	width: 160px;
	height: 160px;
	background-color: #1b1b1b;
	position: absolute;
	border-radius: 100%;
	animation: after 1.1s infinite linear;
}

@keyframes after{
	0% {
		top: -2px;
		left: -2px;
	}
	25% {
		left: -2px;
		top: 2px;
	}
	50%{
		top: 2px;
		left: 2px;	
	}
	75%{
		left: 2px;
		top: -2px;
	}
	100%{
		top: -2px;
		left: -2px;
	}
} */

/* loading screen end */

.all-brands{
  background-color: rgba(0,0,0,0.5);
  border-radius: 25px;
  transition-duration: 0.4s;
}

.all-brands:hover{
  transform: scale(1.2);
  transition-duration: 0.4s;
}

.all-brands h1{
  line-height: 225px;
  color: white;
}

.all-brands a{
  text-decoration: none;
}
/* Styling af Brands Sektion Slut */

