<!DOCTYPE html>
<html lang="en">
	<head>

		<!-- Meta -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">

		<!-- Stylesheets -->
		<link rel="Stylesheet" type="text/css" href="css/style.css">

		<title>Cars</title>
	</head>

	<body>
		<div id="wrapper">
			<ul class="menuBar">
				<li class="active">
					<p>Porsche</p>
				</li>
				<li>
					<p>Audi</p>
				</li>
				<li>
					 <p>BMW</p>
				</li>
				<li>
					 <p>Volkswagen</p>
				</li>
			</ul>
			<div class="carBrand">
			</div>

			<div class="carBrand">

			</div>

			<div class="carBrand">

			</div>

			<div class="carBrand">

			</div>
		</div>

		<!-- Scripts -->
		<script src="js/scroll.js"></script>
	</body>
</html>